#testimonials {
  padding-bottom: 0;
}
text.testimonials__p {
  display: block;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.swiper {
  height: fit-content;
  min-height: 23rem;
  padding-bottom: 12rem;
  padding-top: 1rem;
}
.swiper-slide {
  cursor: grab;
}

.testimonial__client {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
img.testimonial__client-avatar {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-2);
  overflow: hidden;
  transition: var(--transition);
  margin-right: 1rem;
}
.testimonial__client-details {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.swiper-pagination {
  margin-bottom: 2rem;
  --swiper-pagination-color: var(--color-primary);
}
